# Homework Bonus

1. Import SQL database (SQL_homework_db) into Pandas.
2. Create histogram to visualize the most common salary ranges for employees.
3. Create a bar chart of average salary by title.
4. Search data for badge number 499942.

In [ ]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress
import requests
import json